<div>
  <p>Bienvenue voici une application de recherche de film</p>
    <div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Rechercher un film par titre" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
</div>
